:root {
    --text-color: #334155;
    --text-muted: #94a3b8;
    --border-color: #cbd5e1;
    --border-color-light: #e7e7e7;
    --current-step-color: #3b82f6;
    --current-step-color-background: #eff6ff;
    --proof-mark-pass-color-light: #007acc;
    --proof-mark-pass-color-dark: #3794ff;
    --proof-mark-warning-color-light: #bf8803;
    --proof-mark-warning-color-dark: #cca700;
    --proof-mark-error-color-light: #e51400;
    --proof-mark-error-color-dark: #f14c4c;
    --tag-color: #475569;
    --tag-color-background: #e2e8f0;
    --cases-color: #6b7280;
    --cases-color-light: #d1d5db;
    --induction-color: #2b6a4a;
    --induction-color-light: #a3c2b1;
    --induction-color-background: #f2f7f4;
    --contradiction-color: #c04851;
    --contradiction-color-light: #e6b9bc;
    --contradiction-color-background: #fdf6f6;
    --ref-color: #2563eb;
}

html {
    overflow-y: scroll;
}

body {
    font-family: serif, "Microsoft YaHei";
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    width: 900px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

h2 {
    position: relative;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 8px;
}

h2 sup {
    position: absolute;
    right: 100%;
    margin-right: 4px;
}
.statement-box {
    border: 0.5px solid var(--border-color);
    margin: 40px 0;
    border-radius: 10px;
    padding: 28px 32px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.05);
    transition: 0.25s;
}
.statement-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.statement-title {
    font-size: 18px;
    font-weight: 750;
    margin-bottom: 12px;
}

.proof-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tag {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-size: 12px;
    font-family: system-ui, -apple-system, sans-serif;
    font-weight: 600;
    margin-left: 8px;
    margin-right: 16px;
    border-radius: 6px;
    padding: 8px 10px;
    letter-spacing: 0.27px;
}
.tag.default {
    background: var(--tag-color-background);
    color: var(--tag-color);
}