.step-block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 16px;
    border-radius: 8px;
    padding: 8px;
    padding-right: 38px;
    transition: 0.3s;
    transform: translateX(-15px);
}
.step-block.calc {
    align-items: center;
}
.step-block:hover {
    background: var(--current-step-color-background);
    border-left-color: var(--current-step-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
}

.step-tag {
    height: 24px;
    display: flex;
    font-family: 'Consolas', monospace;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    margin-left: 6px;
    margin-right: 16px;
}
.step-tag.calc {
    width: 36px;
    margin-right: 0;
}

.step-content {
    flex: 1;
    align-items: center;
}

.step-rel {
    width: 24px;
    margin: 0 6px;
    text-align: center;
}
.step-lhs, .step-rhs {
    display: inline-block;
    white-space: nowrap;
    transform-origin: left;
    min-width: 0;
}
.step-lhs {
    text-align: right;
}
.step-rhs {
    text-align: left;
}
.step-cal-end {
    width: 12px;
}