.proof-mark.pass {
    color: var(--proof-mark-pass-color-light);
}
.proof-mark.sorry {
    color: var(--proof-mark-warning-color-light);
}
.proof-mark.error {
    color: var(--proof-mark-error-color-light);
}

.ref-link {
    color: var(--ref-color);
    margin: 0 4px;
    border-bottom: 1px dashed var(--ref-color); 
    transition: 0.25s;
}
.ref-link:hover {
    border-bottom-style: solid;
}

.final-mark {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 12px;
    white-space: nowrap;
    flex-shrink: 0;
}
.final-mark.induction {
    color: var(--induction-color);
}
.final-mark.contradiction {
    color: var(--contradiction-color);
}

.qed {
    text-align: right; 
    font-size: 24px;
    margin: 12px;
}